name: hello-world

on: push

jobs:
    my-first-job:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: my-first-step
              run: make say-hello